.categoryTittle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  //   width: 100%;
}

.catergoryImage {
  border: 2px solid black;
  height: 200px;
  //   width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}

.categoryTittle:hover {
  transform: scale(1.05);
}
